.modal-body{
    padding: 3%;
}

.loader{
    position: fixed;
        top: 45%;
        left: calc(50% + 56px);
        z-index: inherit;
}
.spinner{
    position: fixed;
    top: 45%;
    left: calc(50% + 56px);
    z-index: inherit;
}
.module-loader {
    position: fixed;
    background: rgba('white', .5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}
